In [1]:
import pandas as pd
import numpy as np
import os.path

In [2]:
# read in data
fiction = pd.read_csv("fiction.csv", delimiter=",")
isbnToInfo = pd.read_csv("isbnToInfo.csv", delimiter=",")
genreData = pd.read_csv("sortedGenresFiction.csv", delimiter=",")
genreData.fillna(0, inplace=True)

In [3]:
print(fiction.head())

,date,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,2008-06-08,0553807056,0316068047,0312348673,0399154183,0385517882,0399155007,0446195979,0441015891,1416566384,...,0061160873,0307265730,0061537934,0778325504,0525950605,0061236217,0307265730,0307377040,0385515049,0345501284
1,2008-06-15,0425222195,0316068047,0553807056,0312348673,0399155007,0743290119,0399154183,0385524285,0446195979,...,006123088X,1416566384,0778325504,0061537934,0061160873,0441015891,0060829850,0307265730,0375504338,0307265730
2,2008-06-22,0385340567,0316068047,0399154973,0312348673,0425222195,0743290119,0553807056,0399155007,0399154981,...,0385524285,0446195979,006123088X,0399154183,0061537934,1400066026,0393041654,0375504338,039915504X,1416566384
3,2008-06-29,0316018708,0385340567,0316068047,0399154973,0312348673,0743290119,1416549978,0553807056,0312341814,...,0399154981,0425222195,0061537934,0061374229,0385524285,0385515049,1400066026,0385517882,1594489580,006123088X
4,2008-07-06,0312349513,0316018708,0316068047,0743290119,0312348673,0385340567,0399154973,1416549978,0061374229,...,0670018856,0553807056,0312341814,0399155007,0061537934,0425222195,0385517882,0399154981,1400066026,0446195979

In [7]:
fiction['1'][1]

'0425222195'

In [9]:
isbnRankDict = {}
def inputRank(rank, isbn, dict):
    if dict['']
for t in range(1,21):
    for j in )
    updatedDict = inputDict(t, )

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20